<div>
  <form [formGroup]="formulario">

    <div>
      <label for="name">Introduzca Nombres:</label>
      <input 
      type="text"  
      id="name"
      formControlName="name"
      >
      <button >Adicionar Nombres</button>
    </div>

    <div>
      <select name="" id="">
        <option *ngFor="let n of nombres1.controls"></option>
      </select>

      <button>Mostrar Nombres</button>
    </div>
    <div 
    >
      <textarea 
      name="" 
      id="" 
      cols="30" 
      rows="10"
      formControlName="mostrar"
      ></textarea>
    </div>
  </form>
</div>
